node_modules
.idea
30 Days of code/out
30 Days of code/.idea
30 Days of code/.vscode
30 Days of code/30 Days of code.iml
30 Days of code/javac-services.0.log
30 Days of code/untitled104.iml
nbproject
